#BASE DE DATOS DE CLIENTES
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=12345
DB_NAME=testdb

#BASE DE DATOS DE PROCESO
DB_HOST2=127.0.0.1
DB_PORT2=3308
DB_USER2=root
DB_PASSWORD2=12345
DB_NAME_PROCESS=testdb

#CREDENCIALES API MUNICIPIOS (compartidas)
API_CONSUMER=web
API_USER=ANONIMO
API_PASSWORD=admin

#URLS DE CADA MUNICIPIO
BELLO_API=https://serviciosdigitales.movilidadavanzadabello.com.co/backavit/avit
ITAGUI_API=https://movilidad.transitoitagui.gov.co/backavit/avit
MEDELLIN_API=https://www.medellin.gov.co/backavit/avit
SABANETA_API=https://transitosabaneta.utsetsa.com/backavit/avit
RIONEGRO_API=https://movilidad.rionegro.gov.co/back-ssdd/avit

#Credenciales API Bot Holaamigo, para envío de mensajes
HOLA_AMIGO_API_GATEWAY_URL=https://ibang-apigateway.ibang.ai/api/v1.0
HOLA_AMIGO_API_GATEWAY_USER=
HOLA_AMIGO_API_GATEWAY_PASSWORD=
HOLA_AMIGO_API_GATEWAY_KEY=

#Numero de registros por batch
BATCH_SIZE_PROCESS=5000
BATCH_SIZE_TEMPLATE=1000
TEMPLATE_NAME=notificacion_comparendos